@model WebApp.Entities.ViewModels.Job.JobTableViewModel;

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Company</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
        @{
          if (User.IsInRole("Admin"))
          {
            <th scope="col">No of Applicant</th>
          }
        }
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @{
        foreach (var job in Model.Jobs)
        {
          <tr>
            <td>@job.Title</td>
            <td>@job.CompanyName</td>
            <td>@job.Description</td>
            <td>@job.Location</td>
            @{
              if (User.IsInRole("Admin"))
              {
                <td>@job.NoOfApplicant</td>
              }
            }
            <td>
              @{
                if (User.IsInRole("Admin"))
                {
                  <a href="/editjob/@job.Id">
                    <button type="button" class="btn btn-primary">Edit Job</button>
                  </a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletejobModal"
                    onclick="deleteJobView(@job.Id)">Delete Job</button>
                }
                else
                {
                  <a href="/applyjob/@job.Id">
                    <button type="button" class="btn btn-success">Apply Job</button>
                  </a>
                }
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<!-- footer -->
<div class="d-flex justify-content-end align-items-center gap-2 flex-wrap">
  <input type="text" value="@Model.CurrentPage" hidden id="orderCurrentPage" class="d-none">
  <div class="d-flex align-items-center">
    <div>Items per page</div>
    <div class="ps-1">
      <select name="pageSize" id="orderPageSize" onchange="updatePageSize()" value="@Model.PageSize">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div class="ps-1">
      Showing @((Model.CurrentPage - 1) * Model.PageSize + 1) -
      @(((Model.CurrentPage - 1) * Model.PageSize + Model.Jobs.Count) > Model.TotalItems ? Model.TotalItems :
            (Model.CurrentPage - 1) * Model.PageSize + Model.Jobs.Count)
      of @Model.TotalItems
    </div>
    <div class="ps-1 d-flex">
      <!-- Previous Page Button -->
      <button class="tableViewButton d-flex justify-content-center align-items-center cursor-pointer"
        @(Model.CurrentPage == 1 || Model.Jobs.Count == 0 ? "disabled" : "")
        onclick="navigatePage(@Model.CurrentPage - 1)">
        &lt;
      </button>

      <!-- Next Page Button -->
      <div class="ps-2">
        <button class="tableViewButton d-flex justify-content-center align-items-center cursor-pointer"
          @(Model.CurrentPage == Model.TotalPages || Model.Jobs.Count == 0 ? "disabled" : "")
          onclick="navigatePage(@Model.CurrentPage + 1)">
          &gt;
        </button>
      </div>
    </div>
  </div>
</div>